{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">{{ text_edit }}</div>
      <div class="card-body">
        <p>Module installed. Next step: add settings & payment session init.</p>
      </div>
    </div>
  </div>
</div>
{{ footer }}
